Dokonaj kodowania 0-1 obiektu df (dokładnie kolumny weight_cut) dzięki funkcji pd.get_dummies(). W odpowiedzi wynik kodowania wydrukuj do konsoli.

In [6]:
import pandas as pd


df = pd.DataFrame(
    data={'weight': [75.0, 78.5, 85.0, 91.0, 84.5, 83.0, 68.0]}
)
df['weight_cut'] = pd.cut(
    df['weight'],
    bins=(60, 75, 80, 95),
    labels=['light', 'normal', 'heavy'],
)

In [7]:
df = pd.get_dummies(df)

In [8]:
print(df)

   weight  weight_cut_light  weight_cut_normal  weight_cut_heavy
0    75.0                 1                  0                 0
1    78.5                 0                  1                 0
2    85.0                 0                  0                 1
3    91.0                 0                  0                 1
4    84.5                 0                  0                 1
5    83.0                 0                  0                 1
6    68.0                 1                  0                 0