Podziel wartości kolumny hashtags względem znaku hash '#' używając pd.Series.str.split() z argumentem expand=True. Otrzymasz cztery kolumny.

In [14]:
import pandas as pd
df = pd.DataFrame(
    data={
        'hashtags': [
            '#good#vibes',
            '#hot#summer#holiday',
            '#street#food',
            '#workout',
        ]
    }
)

In [15]:
#Argument expand=True sprawia, że podzielone wartości są rozwinięte w osobne kolumny

In [16]:
df = df['hashtags'].str.split('#', expand=True)

In [19]:
df = df.drop(columns=[0])

In [20]:
df.columns = ['hashtag1', 'hashtag2', 'hashtag3']
print(df)

  hashtag1 hashtag2 hashtag3
0     good    vibes     None
1      hot   summer  holiday
2   street     food     None
3  workout     None     None