Dokonaj dyskretyzacji kolumny weight na 3 przedziały o równej szerokości. Wynik przypisz do nowej kolumny o nazwie 'weight_cut' tak jak pokazano poniżej. W odpowiedzi wydrukuj obiekt df do konsoli.

In [1]:
import pandas as pd


df = pd.DataFrame(data={'weight': [75., 78.5, 85., 91., 84.5, 83., 68.]})

In [3]:
df['weight_cut'] = pd.cut(df['weight'], bins=3)

In [4]:
df

   weight        weight_cut
0    75.0  (67.977, 75.667]
1    78.5  (75.667, 83.333]
2    85.0    (83.333, 91.0]
3    91.0    (83.333, 91.0]
4    84.5    (83.333, 91.0]
5    83.0  (75.667, 83.333]
6    68.0  (67.977, 75.667]

In [5]:
df['weight_cut_1'] = pd.qcut(df['weight'], q=3)

In [6]:
df

   weight        weight_cut    weight_cut_1
0    75.0  (67.977, 75.667]  (67.999, 78.5]
1    78.5  (75.667, 83.333]  (67.999, 78.5]
2    85.0    (83.333, 91.0]    (84.5, 91.0]
3    91.0    (83.333, 91.0]    (84.5, 91.0]
4    84.5    (83.333, 91.0]    (78.5, 84.5]
5    83.0  (75.667, 83.333]    (78.5, 84.5]
6    68.0  (67.977, 75.667]  (67.999, 78.5]